*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fuente-principal;
    user-select: none;
}

:root{
    --color-principal: #48e;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-hover: #1167e7;
    --color-transparente: rgba(0, 0, 0, 0.2)
}

body{
    background-color: var(--color-principal);
}


.nav__logo{
    text-decoration: none;
    color: var(--color-negro);
    font-size: 25px;
}


.nav__logo::first-letter{
    color: var(--color-principal);
    font-weight: bold;
    font-size: 30px;
}


.nav{
    background-color: var(--color-blanco);
}


.nav__container{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.nav__list{
    background-color: var(--color-blanco);
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.nav__list-item{
    list-style: none;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 1s ease;
}

.nav__list-item:hover{
    background-color: var(--color-hover);
}

.nav__list-link{
    color: var(--color-negro);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 1s ease;
}

.nav__list-item:hover .nav__list-link{
    color: var(--color-blanco);
}



.submenu__list{
    display: none;
}





.nav__menus-container input{
    display: none;
}



.nav__menus-container label{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 6px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.nav__menus-container label:hover{
    background-color: var(--color-hover);
}


.nav__search{
    display: none;
    position: fixed;
    background-color: var(--color-transparente);
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    text-align: center;
    z-index: 100;
}

.nav__search input{
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    outline: none;
    color: var(--color-blanco);
    background-color: rgb(95, 91, 91);
}

.nav__search input::placeholder{
    color: var(--color-blanco);
}

/*para sacar la x al input*/
.nav__search input::-webkit-search-cancel-button {
    display: none;
  }
  



/*aca validamos si el input esta checkeado, mostramos el menu*/

.nav:has(#abrir-menu:checked) .nav__list{
    display: flex;
}

/*aca validamos el input de busqueda*/

.nav:has(#buscar:checked) .nav__search{
    display: block;
}


/*este es el header carrusell*/

.header{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;
}


.header__carrusell{
    width: 400%;
    height: 100%;
    display: flex;
}

.header__img-container{
    width: 100%;
    height: 100%;
}

.header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    animation: deslizar 24s infinite ease;
}



/*este es el contenido del header*/
.header__background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparente);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container{
    width: 80%;
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.header__parrafo{
    text-wrap: wrap;
}

.header__link{
    text-decoration: none;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px 50px;
    transition: background-color 1s ease;
}

.header__link:hover{
    background-color: var(--color-hover);
}


/*esta es la seccion de tienda*/

.tienda__container{
    padding: 20px;
    height: calc(100vh - 60px)
}

.tienda__aside{
    display: none;
}

.img__container{
    width: 100%;
}

.img__container img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px 12px 0 0;
}

.productos__container{
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--color-blanco);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.productos__titulo{
    grid-column: span 2;
    font-size: 20px;
    color: var(--color-principal);
}


.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}

.producto__descripcion{
    width: 100%;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 0 0 12px 12px;
    position: relative;
    top: -10px;
    gap: 5px;
}

.producto__link{
    width: 100%;
    text-decoration: none;
    color: var(--color-principal);
    background-color: var(--color-blanco);
    border-radius: 12px;
    text-align: center;
    padding: 2px;
}


.producto__titulo{
    font-size: 18px;
}

.producto__precio{
    font-size: 12px;
}

.producto__link:hover{
    background-color: transparent;
    border: 1px solid var(--color-blanco);
    color: var(--color-blanco);
    transition: all 1s ease;
}

.producto:hover{
    transform: scale(1.05);
}


@keyframes deslizar {

    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(0);
    }
    
}

